@import "todo.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";

body,
#app {
  min-height: 100vh;
  background-color: #f2f2f2;
}

#app {
  display: flex;
  flex-flow: column nowrap;
}

.default__wrapper {
  flex: 1;
  background-color: #fff;
}

.login__page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__form {
  width: 300px;
}
