@import "todo.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";

body {
  min-height: 100vh;
}

.defaul__wrapper {
  background-color: #914d50;
}

.index__page {
  background-color: green;
}

.about__page {
  background-color: rgb(64, 136, 165);
}

a {
  color: #ddd
}